<div class ="container">
    <div class="col-sm-6">
        <img src ="images/graph.png" alt="">
    </div>
    <div class ="col-sm-6">
        <h1>Reach Out to us!</h1>
        <p>Enter your email if you're interested to learn more:</p>
        <form action="/subscribe" method="post">
            <label for="txtName">Name</label>
            <input type="text" name="name" value="" id="txtName">
            <br>
            <label for="txtEmail">Email: </label>
            <input type="email" name="email" value="" id="txtEmail">
            <br>
            <label for="txtZip">Zip Code: </label>
            <input type="text" name="zip" value="" id="txtZip">
            <br>
            <input type="submit" class="button" value ="submit">
        </form>
        <p>We'll get back to you soon.</p>
    </div>
</div>