<div class="container">
    <div class="col-sm-6">
        <img src="images/people.jpg">

    </div>
    <div class="col-sm-6">
        <h1>Welcome to confetti Cuisine</h1>
        <p>Please check out our cool courses by our creative chefs.</p>
        <p>If you want to see a new course, click <a href="/courses">the course page</a></p>
    </div>
</div>
<br>