<div class="container">
    <div class="list-container">
        <% subscribers.forEach( sub => { %>
            <div class="subscriber">
                <p>
                    <span class="item-label">
                        <%= sub.name %>
                    </span>
                </p>
                <p>
                    <span class="item-label">
                        <%= sub.email %>
                    <span>
                </p>
            </div>
          <% }); %>
    </div>
</div>