<div class = "form-data">
    <form class = "row" action = "/subscribers/create" method="POST">
        <label class="col-sm-5 form-control" for="txtName">Name</label>
        <input class="col-sm-5 form-control" type = "text" name = "name" id = "txtName" autofocus required>
        <label class="col-sm-5 form-control" for = "txtEmail">Email Address</label>
        <input class="col-sm-5 form-control" type="email" name="email" id="txtEmail" required>
        <label class="col-sm-5 form-control" for = "txtZipCode">ZipCode</label>
        <input class="col-sm-5 form-control" type="text" name="zipCode" id="txtZipCpde" required>
        <button class="col-sm-5 btn-primary" type = "submit">Create</button>
    </form>
</div>