<form class="form-signin" action="/users/login" method="POST">
    <h2>Log in:</h2>
    <label for="txtEmail">Email</label>
    <input type="email" name ="email" id="txtEmail" class="form-control" placeholder="your email" required autofocus>
    <label for="txtPassword">Password</label>
    <input type="password" name="password" id="txtPassword" class="form-control" placeholder="your password" required>
    <button type="submit" class="btn btn-lg btn-primary">Login</button>
</form>