<div class = "form-data">
    <form class="row" action = "/users/create" method="POST">
        <label class="col-sm-5 form-control" for="txtFirst">First Name</label>
        <input class="col-sm-5 form-control" type = "text" name = "first" id = "txtFirst" autofocus required >
        <label class="col-sm-5 form-control" for="txtLast">Last Name</label>
        <input class="col-sm-5 form-control" type = "text" name = "last" id = "txtLast"  required >
        <label class="col-sm-5 form-control" for = "txtEmail">Email</label>
        <input class="col-sm-5 form-control" type="email" name="email" id="txtEmail" required >
        <label class="col-sm-5 form-control" for = "txtZipCode">ZipCode</label>
        <input class="col-sm-5 form-control" type="text" name="zipCode" id="txtZipCpde" required >
        <label class="col-sm-5 form-control" for = "txtPassword">Password</label>
        <input class="col-sm-5 form-control" type="text" name="password" id="txtPassword" required >
    <button class="col-sm-5 btn-primary" type = "submit">Create</button>
    </form>
</div>